html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { 
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.abouthead { height: 281px;
 background: black url('img/backgr1.jpg') no-repeat center
}
.abouthead div {display: flex; 
				flex-direction: column;
				justify-content: flex-end; flex-wrap:wrap;
				max-width: 1000px; margin: auto; height: 281px; margin: 0 auto ; padding: 0 20px;}
				
.abouthead h1 {font-size: 28pt; color: white; padding-bottom: 16px; font-weight: bold; font-family: verdana, sans-serif; line-height: 1.2;
}
.abouthead p {padding-bottom: 40px; color: white}
/* body */


.bodyabout {display: flex; flex-wrap: wrap; max-width: 1000px; margin: 0 auto ; padding: 0 20px; color: #1e1e1e;
}

.bodyabout h1 {font-size: 28pt; color: #151515; padding-bottom: 24px; font-weight: bold;}
.bodyabout p {font-size: 16pt; line-height: 1.5; padding-bottom: 24px;}
.bodyabout p:last-child {padding-bottom: 0;}
.bodyabout ul {font-size: 16pt; line-height: 1.2; margin-bottom: 44px;
    list-style: none;
	padding: 0; margin-left: -20px;
}
.bodyabout ul:last-child {margin-bottom: 0;}
.bodyabout ul li:before {
    content:  "—";
    position: relative;
    left:     -5px;
}

.about_clear {width: 100%; height:1px; margin-bottom: 50px}

#block1 {flex-basis: 326px; flex-grow:1; padding-right: 20px; margin-top: 40px}
#img1 {flex-grow:1;background:black; min-height: 593px; min-width: 450px; margin-top: 40px}
#img1 img {width: 100%; height: auto;}
#block3 {margin-top: 100px; margin-bottom: 50px}
#slider {width: 100%; display: flex; justify-content: space-between}
.slide_cont {display: block; flex-basis: 400px}
.slide_cont img {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
}
#img2 {margin-top: 100px;flex-grow: 1;  flex-basis: 400px; min-height: 200px; display: flex; justify-content: center}
#img2 img {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
}
.img2_cont {max-width: 300px}
#block4 {margin-top: 100px; flex-basis: 325px; flex-grow: 1; margin-left: 20px; min-width: 323px; align-self: center;}
#block5 {margin-top: 100px;}
#img3 {margin: 50px 20px 0 0 ;flex-basis: 360px; flex-grow: 1;  background:black; min-height: 400px}
#img4 {margin: 50px 0 0 ;flex-basis: 362px; flex-grow: 1;  background:black; min-height: 400px}
.img_cont img {  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */}
.img_cont {max-width: 596px}
#quote1 {margin: 0px 0 0 0;flex-basis: 425px; flex-grow: 1;  align-self:center}
#quote2 {margin: 50px 0 0 20px; flex-basis: 200px;  text-align: center}
#quote2 img {width:150px; height:150px}
#quote2 p {padding:0}
@media screen and (max-width: 800px) {
 #block4 {margin-left: 0}
   #img3 {margin-right: 0}
   #quote2 {margin:  20px auto}
   .img2_cont, .img_cont {max-width:100%}

}
 blockquote {
    background: #f7f7f7;
    font-style: italic;
	font-size: 16pt;
}
 
blockquote:before {
    color: #bbb;
    content: "\201C"; /* Непечатаемый символ слева */
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;
}
 
blockquote:after {
    color: #bbb;
    content: "\201D"; /* Непечатаемый символ справа */
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -.45em;
}
 
blockquote > p:first-child {
    display: inline;
}

/* editor */

#editor {width: 100%;  background: #151515; margin-top: 150px; padding: 20px 0; color: white !important}
#editor h1 {color: white !important}
.slider {width: 100%; height: 600px; background: #50b4a5}