<!doctype html>
<html lang="en">
<head>
	<link href="css/quiz.css" rel="stylesheet" type="text/css">
	<link href="css/quiz-animation.css" rel="stylesheet" type="text/css">
	
	<meta charset="UTF-8">
	<title>quiz adminka</title>
</head>
<body>
	<script src="js/velocity.min.js"></script>
	<div class="quiz_edit_container">
	<div class='quiz_edit'
	>
	
	
		<div class="quiz_start quiz_wrap ask" style="background-image:url(images/quiz_start.jpg)">
			<div class="quiz_category">
				<select size='1'>
					<option v-for="category in categories" :value="category.id">{{ category.title }}</option>
				</select>
			</div>
			<div class="quiz_title">
				<textarea name="quiz_ask"
				v-model='quizTitle'
				v-bind:value='quizTitle'
				placeholder='Введите название'
				></textarea>
				<button class="btn" type="button">
					<span>Начать</span>
				</button>
			</div>																		
			<div class="quiz_avtor" >
				<button class="quiz_show_autor"
				v-if="!showAutor"
				v-on:click="showAutor = true"></button>
				<template v-if="showAutor">
				<button
				class="quiz_delete_autor"
				v-on:click="showAutor = false"></button>					
				<div class="quiz_avtor_avatar"></div>
				<div class="quiz_autor_data">		
					<span class="quiz_autor_name">Женя Егоров</span>
					<br>
					<span class="quiz_autor_desc">Директор Мира</span>
				</div>							
				</template>							
			</div>	
			<div class="quiz_add_startbg_wrapper">
				<button class='quiz_add_startbg' title="Выберите обложку"></button>
			</div>		
		</div>
			
			
			<!-- ВОПРОСЫ -->
			
			<transition-group 
			name="asks"
			v-bind:css="false"
			v-on:before-enter="beforeChangeNextAskId" 
			v-on:enter="enterChangeNextAskId" 
			tag="div">
			<div class="quiz_wrap ask" style="background-image:url(images/quiz.jpg)" 
			v-on:click.self="ShiftPopuup('', '', 'body')"
			v-for='(ask, index) in asks' 
			v-bind:key='index'
			v-bind:id="'wrapask'+(index+1)"
			>
				<transition name="mediaShow">
				<div
				v-if="showMedia&&(currentask == index)"
				class="quiz_media_overlay">
					<img v-if="showMedia" v-bind:src="media[CurrentMediaIndex].url" class="blur" >
					<div v-if="showMedia" style="position: absolute; top: 250px; width: 600px; text-align: center; font-size: 42px" class="quiz_title"><span>{{ media[CurrentMediaIndex].title }}</span></div>
				</div>
				</transition>
				
				<button
				title="Удалить вопрос"
				class="quiz_delete_ask_button"
				v-bind:key='ask.index=index' 
				v-on:click="deleteAsk(ask.index)"></button>		
				<div class="quiz_number"><span class="slide_counter">{{ ask.id  }}</span>/{{ asksTotal }}</div>
				<div class="quiz_title">
					<input name="quiz_ask" class="quiz_ask"
					v-model='ask.title'		
					v-bind:placeholder="ask.title"
					>					
				</div>
				<div class='quiz_add_image'>					
					</div>				
				<div class="quiz_answers" 
				v-bind:id="'ask'+index"
				>										
						<transition-group name="list-complete" tag="ul">
						<li
						class='quiz_answer'
						is='item'
						v-model='answer.title'					
						v-for='(answer, index) in ask.answers' 
						v-bind:key='answer.id'
						v-bind:index='index'
						v-bind:ask-Index='ask.index'
						v-bind:title="answer.title"
						v-on:remove='deleteAnswer(ask.index, index)'
						v-on:add='addNewAnswer(ask.index)'
						v-on:asktools='Asktools(index, ask.index)'
						v-bind:class='{right : answer.isCorrect&&isTest}'
						v-bind:is-test='isTest'
						v-bind:points='answer.points'
						v-bind:results='quizResults'
						>					
						</li>								
					</transition-group>
					<div class="button_wrap" style="position: absolute">
						<button class="quiz_add_in_list"
						v-on:click="addNewAnswer(index)" v-bind:class="hideButton(ask.nextAnswerId)">
						Добавить ответ
						</button>
					</div>
				</div>
								
			</div>
			</transition-group>
			<div class="button_wrap_add_q">
				<button title="Добавить вопрос" class="quiz_button_add_q" v-on:click="addNewAsk">			
				</button>
			</div>
			
			<div class="quiz_wrap quiz_result ask" style="background-image:url(images/quiz_start.jpg)">
				<img src="media/petuh.svg" v-if='isTest' height="200" width="200" class="quiz_resultimg_adm">
				<div class="quiz_title" v-else><h1>Настройте итоги теста</h1></div>
				<div class="quiz_result_data_adm">
								
					<template v-if='isTest'>
						<transition-group name="list-complete" tag="ul">
							<li
							is='item'
							v-model='result.title'					
							v-for='(result, index) in testResults' 
							v-bind:key='index'
							v-bind:index='index'
							v-bind:title="result.title"
							v-on:remove='deleteTestResult(index)'
							v-on:add='addNewTestResult()'
							>					
							</li>			
						
						</transition-group>
						<div class="button_wrap">
							<button
							v-on:click="addNewTestResult()" class="quiz_add_in_list" v-bind:class="hideButton(NextResultId)">
							Добавить ответ
							</button>
						</div>
					</template>
					
					<template v-else>
						<transition-group name="list-complete" tag="ul">
							<li
							is='item'
							v-model='result.title'						
							v-for='(result, index) in quizResults' 
							v-bind:key='index'
							v-bind:index='index'
							v-bind:title="result.title"
							v-on:remove='deleteQuizResult(index)'
							v-on:add='addNewQuizResult()'						
							v-bind:points='result.points'
							v-on:add='addNewResult()'
							v-on:asktools='Resulttools(index)'
							>					
							</li>			
						
						</transition-group>
						<div class="button_wrap">
							<button
							v-on:click="addNewQuizResult()" class="quiz_add_in_list" v-bind:class="hideButton(NextResultId)">
							Добавить ответ
							</button>
						</div>
					</template>
					
				</div>
			</div> 
			<div class="quiz_choose_type" style="color: black;">
					Тест <input type="checkbox" v-model='isTest'> Викторина<br>{{ isTest }}
					</div>
		</div>
		<div class="quiz_tools">
		
		
					
		
		<tools
		v-bind:media="media"
		v-bind:is-test="isTest"
		v-bind:results='quizResults'
		v-bind:currentanswer='currentanswer'		
		v-bind:currentask='currentask'
		v-bind:showpopup='showpopup'
		v-bind:nextanswerid='tempNextAnswerIndex'
		v-bind:temp-ans='tempAns'
		v-on:updateiscorrect='updateIsCorrect(arguments)'
		v-on:updatepoints='updatePoints(arguments)'
		v-on:updatemediaid='quizUpdateMediaId(arguments)'
		></tools>
		
		<tools-quiz-results		
		v-bind:asks="nextaskIndex"
		v-bind:results='quizResults'
		v-bind:currentresult='currentResult'		
		v-bind:showpopup='showresultpopup'
		v-bind:nextresultindex='NextResultId-1'
		@update:value='value => {quizResults[currentResult].description = value}'
		v-bind:quiz-bgs='mediaQuiz'
		v-on:quiz-bg='updateQuizBg(arguments)'
		></tools-quiz-results>
		
	
		</div>
		</div>
  <script src="js/vue.js"></script>
   <script src="js/quiz.js"></script>

</body>

	
</html>