:root {
    --tools-correct-color: rgb(117, 199, 145);
    --tools-lvl0-bg: #FFFFFF;
    --tools-lvl1-bg: #455a64;
    --tools-lvl2-bg: #90a4ae;
    --tools-lvl3-bg: #263238;
    --icon-color : #D1D1D1;
  }

  