.quiz_block_wrap {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.quiz_start.quiz_wrap:before {	
	-webkit-animation-name: bgfade; 
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out; 
	animation-iteration-count: infinite; 
	animation-direction: alternate-reverse;
}


.btn {	
	-webkit-animation-name: scale; 
	-webkit-animation-duration: 12s;
	-webkit-animation-timing-function: cubic-bezier(.3,1.66,.68,-1.09); 
	animation-iteration-count: infinite; 
	animation-direction: alternate-reverse;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.btn.animate {
	-webkit-animation-name: scale-out; 
	animation-direction: normal;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-iteration-count: 1; 
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.quiz_answers ul li {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.percents  {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

..quiz_answers ul li span.numbers  {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.quiz_answers ul li {
	animation-direction: normal;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 1s;
	animation-iteration-count: 1; }

li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%; 
  display: block;
  width: 0;
  padding-top: 0;   
  border-radius: 100%; 
  background-color: rgba(242, 191, 187, .3); 
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

li:active:before {
  width: 120%;
  padding-top: 120%;  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
.quiz_media_overlay { 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.quiz_media_overlay.display {opacity: 1}

.quiz_progresscounter, .quiz_progress{ 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.quiz_resultimg {
	opacity: 0;	
	animation-fill-mode: forwards;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-timing-function: ease-in-out; 
	animation-iteration-count: 1; 	
}

.quiz_textcontent {opacity: 0;
	-webkit-animation-duration: .7s;
	-webkit-animation-timing-function: ease-in-out; 
	animation-iteration-count: 1;
	animation-fill-mode: forwards}
.quiz_textcontent:nth-child(2) {
	animation-delay: 0.4s;
}
.quiz_textcontent:nth-child(3) {
	animation-delay: 0.8s;
}
@-webkit-keyframes bgfade {
	0% {opacity: .7}
	100% {opacity: .2}
}

@-webkit-keyframes scale {
  0%
  {
    transform: scale( 1 );
  }
  20%
  {
    transform: scale( 1.3 );
  }
  40%
  {
    transform: scale( 1 );
  }
  60%
  {
    transform: scale( 1.3 );
  }
  80%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( 1 );
  }	
}

@-webkit-keyframes scale-out {
  0% {}
  100%{
    transform: scale( 10 );
	opacity: 0;
  }
}
 @-webkit-keyframes scale-in {
  0% {transform: scale( 5 );
	opacity: 0	;
  }
  100% {
    transform: scale( 1 );
	opacity: 1;
  }
 }
 
@-webkit-keyframes from-left {
  from {right: 150px; opacity: 0}
  to{
    right: 0;
	opacity: 1;
  }
}