body {background: url('back-main.jpg') no-repeat 50%}
#quiz_frame {
	height: 408px;
	width: 600px;
	background: url('frame-back.jpg') no-repeat center;
	position:absolute;
	top: 95px;
	left: 412px;
	overflow: hidden;
}
#quiz_frame h1 {font-family: Roboto; font-weight: bold; font-size: 24pt; text-align: center; color: white;
				text-shadow: 0px 1px 2px rgba(0,0,0,0.4); margin-bottom:20px; margin-top: 25px; width: 600px; max-width: 600px; cursor: pointer}
#quiz_frame h1:hover {text-shadow: 0px 2px 10px rgba(0,0,0,0.8);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;}
#quiz_frame * {z-index:1}
#quiz_frame:last-child {z-index:0}
#quiz_photo_container {width: auto; text-align: center; padding-top: 75px}
#quiz_image1_container, #quiz_image2_container {margin-top: 12px;margin-bottom: 16px; display:inline-block; 
				width: 224px;}
#quiz_image2_container {margin-left: 12px}
#quiz_image1, #quiz_image2 {}
#quiz-button-left {display:inline-block; 
				width: 224px; height: 47px; 
				text-allign: center; 
				line-height: 47px;
				font-size: 17px;
				font-family:lucida sans unicode, lucida grande, sans-serif;
				vertical-align: middle; 
				color: white;
				margin:0;
				background: RGBa(185, 185, 185, .3);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease; overflow: hidden;}
#quiz-button-right {display:inline-block; 
				width: 224px; height: 47px; 
				text-allign: center; 
				line-height: 47px;
				font-size: 17px;
				font-family:lucida sans unicode, lucida grande, sans-serif;
				vertical-align: middle; 
				color: white;
				margin-left: 12px;
				background: RGBa(185, 185, 185, .3);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease; overflow: hidden;}
#quiz_image1_container, #quiz_image2_container {cursor: pointer; }
#quiz-button-right:hover, #quiz-button-left:hover {cursor: pointer; 
					background: RGBa(185, 185, 185, .9)}

#quiz_image2_container:hover .quiz_img_overlay, #quiz_image1_container:hover .quiz_img_overlay {opacity: 0.1;}
#quiz_overlay {height: 408px;
	width: 600px; 	position:absolute;
	top: 0;
	 z-index:-1; background: url(back-overlay.png) no-repeat center}
.quiz_img_overlay {opacity: 0.5; background: url(quiz_img/quiz_img_overlay.png) center; width: 224px; height: 223px; position: absolute; top:0;
					-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;}
#quiz-img-result-left {width: 224px; 
					height: 223px; 
					position: absolute; 
					top:0; 
					line-height: 80px; 
					color: white; 				
					font-size: 65px;
					font-family:lucida sans unicode, lucida grande, sans-serif;}
#quiz-img-result-right {width: 224px; 
					height: 223px; 
					position: absolute; 
					top:0; 
					line-height: 235px; 
					color: white; 				
					font-size: 65px;
					font-family:lucida sans unicode, lucida grande, sans-serif; z-index:100}

#quiz_versus {width: 87px; height: 88px; background: url(vs.png) no-repeat center; position: absolute;left: 257px; top: 150px; z-index: 999}	
#quiz_image2_container:hover .quiz_img_overlay.phase3 {opacity: 1;}
#quiz-img-result-left.phase2  {opacity: .0;}
#quiz-img-result-right.phase2 {opacity: .0;}
#quiz-img-result-left.phase3, #quiz-img-result-right.phase3 {-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;}