:root {
   --tools-correct-color: rgb(117, 199, 145);
    --tools-lvl0-bg: #FFFFFF;
    --tools-lvl1-bg: #D32F2F;
    --tools-lvl2-bg: #FF8A80;
    --tools-lvl3-bg: #222222;
    --icon-color : #D1D1D1;
  }

