:root {
    --tools-correct-color: rgb(117, 199, 145);
    --tools-lvl1-bg: rgb(20, 20, 20);
    --tools-lvl0-bg: rgb(34, 34, 34);
    --tools-lvl2-bg: rgb(54, 54, 54);
    --icon-color : #D1D1D1;
  }